
@{
    ViewBag.Title = "PTC - " + PTC_versionORANGE.Resources.Resource.Statistics;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="margin-top:2em;">
    <h1 class="text-orange index-header">@PTC_versionORANGE.Resources.Resource.ST_Name</h1>
    <p class="text-gray" id="statistics-intro">@PTC_versionORANGE.Resources.Resource.ST_Discription</p>
    <div class="row">
        <div class="col-lg-6">
            <img style="width:90%;height:auto; border-radius:0.5em;" src="~/Content/Statistics/Statistics-Aims.jpg" />
        </div>
        <div class="col-lg-6 text-gray">
            <h2 style="margin-bottom:1.5em;">Operation Aims of PTC Statistics Institute</h2>
            <h4 style="margin-bottom:0.5em;"><strong style="font-size:200%; " class="text-orange">25</strong> @PTC_versionORANGE.Resources.Resource.ST_Bussiness</h4>
            <h4 style="margin-bottom:0.5em;"><strong style="font-size:200%; " class="text-orange">1000</strong> @PTC_versionORANGE.Resources.Resource.About_Lecture</h4>
            <h4 style="margin-bottom:0.5em;"><strong style="font-size:200%; " class="text-orange">200</strong> @PTC_versionORANGE.Resources.Resource.About_Expert </h4>
            <h4 style="margin-bottom:0.5em;"><strong style="font-size:200%; " class="text-orange">05</strong> @PTC_versionORANGE.Resources.Resource.ST_ScientificPapers</h4>
        </div>
    </div>
</section>
<section>
    <h2 class="text-orange index-header">@PTC_versionORANGE.Resources.Resource.ST_Function</h2>
    <div class="row" style="margin-bottom:3em;">
        <div class="col-lg-4 col-sm-12 text-gray">@PTC_versionORANGE.Resources.Resource.ST_Discription_1</div>
        <div class="col-lg-4 col-sm-12 text-gray">@PTC_versionORANGE.Resources.Resource.ST_Discription_2</div>
        <div class="col-lg-4 col-sm-12 text-gray">@PTC_versionORANGE.Resources.Resource.ST_Discription_3</div>
    </div>
</section>

<!--statistics diagram-->
<section>
    <h1 style="margin-bottom:1em;" class="text-orange index-header">@PTC_versionORANGE.Resources.Resource.ST_CouncilOfScience</h1>
    <div class="row">
        <div class="col-lg-6 col-sm-12 TA-center">
            <img style="width:60%;height:auto;" src="~/Content/About/about-chairman.png" />
        </div>
        <div class="col-lg-6 col-sm-12" style="padding-top:5%;">
            <h3 class="text-gray">@PTC_versionORANGE.Resources.Resource.PA_DirectorOfInstitute</h3>
            <h2>@PTC_versionORANGE.Resources.Resource.PA_NguyenKhanhTrung</h2>
            <p class="text-gray">@PTC_versionORANGE.Resources.Resource.PA_NguyenKhanhTrung_Discription</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12 TA-center">
            <img style="width:60%;height:auto;" src="~/Content/About/about-deputy.png" />
        </div>
        <div class="col-lg-6 col-sm-12" style="padding-top:5%;">
            <h3 class="text-gray">@PTC_versionORANGE.Resources.Resource.PA_DeputyDirectorOfInstitute</h3>
            <h2>@PTC_versionORANGE.Resources.Resource.ST_LeMinhTruong</h2>
            <p class="text-gray">@PTC_versionORANGE.Resources.Resource.ST_LeMinhTruong_Discription</p>
        </div>
    </div>
</section>